################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AOP/bin/Debug
/AOP/obj/Debug
/.vs/AOPTestProject/v14
/AOPTestProject/bin/Debug
/AOPTestProject/obj/Debug
/packages
/PostSharpSample/bin/Debug
/PostSharpSample/obj/Debug
/PostSharpTestProject/bin/Debug
/PostSharpTestProject/obj/Debug
